/* made by chirag malik | malikchirag.2005@gmail.com | linkedin: malikchirag */
.mini-world { margin:10px 0 0; position:relative; }
.mini-world canvas { display:block; width:100%; height:165px; }
/* made by chirag malik | malikchirag.2005@gmail.com | linkedin: malikchirag */
.mini-world figcaption { font-size:.72em; text-align:center; margin-top:0; }
.mini-world { margin-top:5px; }


